@import "~bootstrap/dist/css/bootstrap.min.css";

/* Estilos para la carta */
.card {
    width: 200px;
    height: 300px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .valor,
  .icono {
    font-size: 2em;
  }
  
  